@{
    ViewData["Title"] = "Grain Warehouse";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Add Entering and Leaving Cargo aswell as check past Travels</a>.</p>
</div>

<img src="/img/Grain.png" height=418px alt="Grain" /></a>